<html>
<head>
    <title>Página Home</title>
        <style>
        body {
            font-family: Arial, sans-serif;
  
        }
        
        h2 {
            color: #333;
        }
        
        table {
            width: 25%;
            border-collapse: collapse;
            border: 2px solid #ddd;
            font-size: 14px;
        }
        
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        
        th {
            background-color: #ccc;
        }
        
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Página Inicial</h1>
    <hr/>