<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/head'); %>

    <body class="container">
        <%- include('../partials/header', {pagina: 'Sobre'}); %>
            <main>
                <div class="jumbotron">
                    <h1 class="display-4">Sobre mim</h1>
                    <p class="lead">Olá sou Mateus Alves, Dev front-end</p>
                </div>
            </main>
            <%- include('../partials/footer'); %>
    </body>

</html>