{{>partials/header}}

<fieldset>
    <legend>Adicionar Novo Usuário</legend>
    <form method="POST" action="/novo-usuario">
        <input type="text" name="firstName" placeholder="Nome"/><br>
        <input type="text" name="lastName" placeholder="Sobrenome"/><br>
        <input type="email" name="email" placeholder="E-mail"/><br>
        <input type="text" name="age" placeholder="Idade"/><br>
        <input type="text" name="interests" placeholder="Interesses (livros, futebol)"/><br>
        <input type="submit" value="Enviar"/><br>
    </form>
</fieldset>


<h3>Usuários do Banco</h3>
<table>
    <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Idade</th>
        <th>+</th>
        <th>-</th>
        <th>Email</th>
        <th>Interesses</th>
    </tr>
        {{#users}}
            <tr>
                <td>{{name.firstName}}</td>
                <td>{{name.lastName}}</td>
                <td>{{age}}</td>
                <td><a href="/usuario/{{_id}}/addidade">+</a></td>
                <td><a href="/usuario/{{_id}}/diminuiridade">-</a></td>
                <td>{{email}}</td>
                <td>{{interests}}</td>
            </tr>           
        {{/users}}
</table>

{{>partials/footer}}